.container-fluid
{
    min-height: 100vh;
    max-width: 100%;
    background-image: url("/assets/images/phone.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.phonecont
{
    position: absolute;
    height: 90vh;
    width: 250px;
    left: 41%;
    top: 10%;
}
.routerbtn
{
    position: absolute;
    top: 40%;
    left: 4px;
}
.databtn
{
    position: absolute;
    top: 40%;
    right: 4px;
}
.disconnectbtn
{
    position: absolute;
    top: 0;
    right: 0;
}
@media screen and (max-width: 1200px) {
    .phonecont{
        left: 38%;
    }
}
@media screen and (max-width: 980px) {
    .phonecont{
        left: 36%;
    }
}
@media screen and (max-width: 850px) {
    .phonecont{
        left: 30%;
    }
}
button
{
    border-radius: 20px;
    border: none;
    background-color: black;
    color: rgb(65, 210, 190);
    height: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
}